@import '../../../assets/styles/colors';

$online-color: #62c655;
$offline-color: gray;

.DeviceDetails {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  flex: 0 0 24px;
  width: 100%;
  background-color: $light-background-color;
  border-bottom: 2px solid $input-border-color;
  cursor: pointer;

  &:hover {
    background-color: #34343499;
  }

  &__status {
    flex: 0 0 12px;
    height: 12px;
    margin-left: 4px;
    background-color: $offline-color;
    border-radius: 50%;

    &.online {
      background-color: $online-color;
    }
  }

  &__identifier {
    flex: 1 1;
    font-size: 12px;
    font-weight: bold;
    color: $content-color;
    margin-left: 8px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
