.form-group {
  padding-top: 12px;
}

.form-row {
  display: inline-block;
  width: 100%;
  height: 26px;
}

.input-title {
  display: inline-block;
  width: calc(40% - 8px);
  vertical-align: top;
  text-align: right;
  margin-right: 8px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
}

.full-width-input {
  box-sizing: border-box;
  display: inline-block;
  width: calc(60% - 12px);
  margin-right: 12px;
}

.half-width-input-container {
  width: calc(30% - 12px);
  display: inline-block;
  margin-right: 12px;
}

.half-width-input {
  width: 100%;
  box-sizing: border-box;
}

.input-name {
  padding-top: 2px;
  font-size: 12px;
}

label {
  color: rgb(180, 180, 180);
  font-weight: 100;
}

select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: calc(100% - 6px) 75%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='%23B4B4B4'><polygon points='0,0 8,0 4,4'/></svg>");
}

input[type=text], select {
  padding-left: 6px;
}

input, select {
  height: 18px;
  width: 100%;
  background-color: rgb(60, 60, 60);
  color: rgb(180, 180, 180);
  border-radius: 2px;
  border: 1px solid rgba(200, 150, 55, 0.5);
  /* border: 0; */
}

input[type=number] {
  text-align: right;
}

input:focus, select:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

hr {
  display: block;
  float: right;
  width: 85%;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(200, 150, 55, 0.5);
  margin-right: 6px;
}