.form-group {
  padding-top: 20px;
}

.form-row {
  display: inline-block;
  width: 100%;
  height: 30px;
}

.input-title {
  display: inline-block;
  width: calc(40% - 8px);
  vertical-align: top;
  text-align: right;
  margin-right: 8px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
}

.full-width-input {
  box-sizing: border-box;
  display: inline-block;
  width: calc(60% - 12px);
  margin-right: 12px;
}

.half-width-input {
  width: calc(30% - 12px);
  display: inline-block;
  margin-right: 12px;
}

.input-name {
  padding-top: 2px;
  font-size: 12px;
}

label {
  color: rgb(180, 180, 180);
  font-weight: 100;
}

input, select {
  height: 16px;
  width: 100%;
  text-align: right;
  background-color: rgb(60, 60, 60);
  color: rgb(180, 180, 180);
  border-radius: 2px;
  border: 0;
}

input:focus, select:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}