{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/react",
    "prettier/flowtype"
  ],
  "plugins": [
    "prettier",
    "flowtype"
  ],
  "rules": {
    "prettier/prettier": "error",
    "quote-props": [ 1, "consistent-as-needed" ],
    "no-cond-assign": [ 2, "except-parens" ],
    "no-unused-vars": [ 1, {"vars": "local", "args": "none"} ],
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
    "jsx-a11y/label-has-associated-control": [ 2, {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
        "some": [ "nesting", "id"  ]
      }
    }],
    "react/jsx-filename-extension": [ 1, { "extensions": [".js", ".jsx"] } ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": ["src/electron-starter.js"]
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true
  }
}
