@import '../../../../assets/styles/dim';
@import '../../../../assets/styles/colors';

.MainToolbar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $bar-height;
  background-color: #2b2b2be6;
  border-top: 2px solid $dark-separator-color;

  &__flexContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
  }

  &__section {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: nowrap;
    justify-content: center;

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  &__buttonIcon {
    color: $content-color;
    height: 16px;
    width: 16px;
    display: block;
    margin: 0 auto;
  }

  &__iconButton {
    flex-basis: 48px;
    color: $content-color;
    background-color: transparent;
    border: none;
  }

  &__submitButton {
    height: 24px;
    width: 64px;
    background: $light-background-color;
    border-radius: 4px;
    border: 1px solid #666;

    &:hover {
      border: 1px solid #ccc;
    }

    &__icon {
      color: $content-color;
      height: 12px;
      width: 12px;
      display: block;
      margin: 0 auto;
    }
  }
}
