.tree-view {
  float: left;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
}

.tree-view:hover {
  overflow-y: auto;
}

.m-node .placeholder {
  border: 1px dashed #1385e5;
}

.m-node .children {
  padding-left: 0!important;
}

.m-node .inner {
  width: 100%;
  padding-left: 0!important;
  color: #c8c8c8;
  font-size: 12px;
}

.m-node .caret-down::before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px solid rgb(180, 180, 180);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 solid rgb(180, 180, 180);
  overflow: hidden;
  transition: 200ms ease;
}

.m-node .caret-right::before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-right: 0 solid rgb(180, 180, 180);
  border-left: 6px solid rgb(180, 180, 180);
  border-bottom: 4px solid transparent;
  overflow: hidden;
  transition: 200ms ease;
}

.m-node .tree-node-text {
  padding-left: 16px;
}

.m-node div > .m-node .tree-node-text {
  padding-left: 32px;
}

.m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 48px;
}

.m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 64px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 80px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 96px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 112px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 128px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 144px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 160px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .tree-node-text {
  padding-left: 176px;
}

.m-node .collapse {
  padding-left: 4px;
}

.m-node div > .m-node .collapse {
  padding-left: 20px;
}

.m-node div > .m-node div > .m-node .collapse {
  padding-left: 36px;
}

.m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 52px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 68px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 84px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 100px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 116px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 132px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 148px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 164px;
}

.m-node .collapse {
  top: 50%;
  transform: translate(0%, -50%);
}