@import '../../assets/styles/dim';
@import '../../assets/styles/colors';

.TabBar {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  &__tabs {
    display: flex;
    flex: 0 0 $bar-height;
    flex-flow: row nowrap;
    width: 100%;
  }

  &__tab {
    position: relative;
    flex: 1;
    color: $content-color;
    background-color: $dark-background-color;
    border-color: $dark-separator-color;
    border-style: solid;
    border-width: 0 0 1px 0;
    cursor: pointer;

    &.light {
      background-color: $light-background-color;
      border-color: $light-separator-color;
    }

    &.is-active {
      color: $highlighted-content-color;
      font-weight: bold;
    }

    &__icon {
      height: 14px;
      width: 14px;

      &.is-active {
        height: 16px;
        width: 16px;
      }
    }

    &__highlight {
      position: absolute;
      bottom: 0;
      left: 5%;
      right: 5%;
      border-bottom: 1px solid $content-color;
    }
  }
}
