@import '../../../assets/styles/colors';

.TreeNode {
  width: 100%;
  display: flex;

  &.is-active {
    background-color: #0071b899;
  }

  &.is-onfocus {
    background-color: #34343499;
  }

  &__text {
    flex: 1;
    padding: 4px 10px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__addButton {
    display: flex;
    color: $content-color;
    background: none !important;
    border: none;
    font: inherit;
    cursor: pointer;
  }
}
