@import '../../../assets/styles/colors';

.TreeToolbar {
  display: flex;
  flex: 0 0 28px;
  width: 100%;
  background-color: $menu-color;
  border-top: 2px solid $frame-color;

  &__button {
    flex: 1;
    width: 24px;
    background-color: $menu-color;
    border: none;
  }

  &__buttonIcon {
    color: $text-color;
    height: 12px;
    width: 12px;
    display: block;
    margin: 0 auto;
  }
}
