.color-input {
  box-sizing: border-box;
  display: inline-block;
  width: calc(60% - 52px);
  margin-right: 4px;
}

.color-picker-input {
  box-sizing: border-box;
  display: inline-block;
  width: 36px;
  height: 16px;
  vertical-align: middle;
  margin-right: 12px;
  padding: 0px 1px;
}