@import '../../assets/styles/colors';

.Select {
  height: 18px;
  background-color: $light-background-color;
  color: $content-color;
  border-radius: 4px;
  border: 1px solid $input-border-color;

  &:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position: calc(100% - 6px) 75%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='8' height='8' fill='%23B4B4B4'><polygon points='0,0 8,0 4,4'/></svg>");
  }
}
