@import '../../assets/styles/colors';

.TextArea {
  background-color: $light-background-color;
  color: $content-color;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid $input-border-color;
}
