.texture-onoff-button {
  position: absolute;
  top: 32px;
  left: 32px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #666;
}

.texture-onoff-button:hover {
  border: 1px solid #ccc;
}

.texture-onoff-icon {
  color: #c89637;
  height: 16px;
  width: 16px;
  display: block;
  margin: 0 auto;
}
