@import '../../assets/styles/colors';

.App {
  display: flex;
  height: 100%;
  min-width: 960px;
  text-align: center;
  overflow-y: hidden;
}

.left-section {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  background-color: $light-background-color;
}

.middle-section {
  position: relative;
  height: 100%;
  background-color: $light-background-color;
}

.right-section {
  height: 100%;
  background-color: $dark-background-color;
  overflow-y: auto;
}

.gutter {
  background-color: $dark-separator-color;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=='); */
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  /* background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII='); */
  cursor: ns-resize;
}

.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
