@import '../../assets/styles/colors';

.TabMenu {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  background-color: #2b2b2be6;

  &__tabs {
    display: flex;
    flex-flow: row nowrap;
    flex: 0 0 28px;
    width: 100%;
  }

  &__tab {
    position: relative;
    flex: 1;
    color: $text-color;
    background-color: #2b2b2be6;
    border: none;

    // &.is-active {
    //   border-bottom: 1px solid $text-color;
    // }

    &__highlight {
      border-bottom: 1px solid $text-color;
      position: absolute;
      bottom: 0;
      left: 15%;
      right: 15%;
    }
  }

  &__buttonIcon {
    color: $text-color;
    height: 12px;
    width: 12px;
    display: block;
    margin: 0 auto;
  }
}
