@import '../../../../../assets/styles/colors';

.ActionContainer {
  border-radius: 4px;
  background: $light-background-color;

  &__header {
    display: flex;
    padding: 4px;
    height: 22px;
    min-width: 0;

    &__buffer {
      flex: 1;
    }

    &__title {
      display: flex;
      justify-content: flex-start;
      font-size: 16px;
      color: $content-color;
      overflow: hidden;

      & > span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__buttons {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      &__trashIcon {
        color: $alert-color;
      }
    }
  }

  &__content {
    display: flex;
    padding: 4px;

    &__frame {
      flex: 1;
    }

    &__summary {
      &__edit {
        margin: 0 4px;

        &Icon {
          height: 18px;
          width: 18px;
        }
      }
    }
  }
}
