.App {
  text-align: center;
  height: 100%;
}

.middle-section {
  position: relative;
  float: left;
  height: 100%;
  /* background-color: #1e1e1e; */
  /* background-color: #1d1e21; */
  background-color: #282841;
}

.config-pane {
  float: left;
  height: 100%;
  /* background-color: #252526; */
  background-color: #1e202e;
  overflow-y: auto;
}

.tree-view {
  float: left;
  height: 100%;
  overflow-y: auto;
  /* background-color: #252526; */
  /* background-color: #1d1e21; */
  background-color: #282841;
}

.m-node .placeholder {
  border: 1px dashed #1385e5;
}

.m-node .children {
  padding-left: 0!important;
}

.m-node .inner {
  width: 100%;
  padding-left: 0!important;
  color: rgb(180, 180, 180);
  font-size: 12px;
  font-family: Menlo;
}

.m-node .container {
  width: 100%;
}

.m-node .container.is-active {
  background-color: rgba(0, 113, 184, 0.6);
}

.m-node .container.is-active:hover {
  background-color: rgba(0, 113, 184, 0.6);
}

.m-node .container:hover {
  background-color: rgba(52, 52, 52, 0.6);
}

.m-node .text {
  padding: 4px 10px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.m-node .add-button {
  float: right;
  background: none!important;
  color: rgb(200, 150, 55);
  border: none;
  padding: 4px 6px;
  overflow: auto;
  font: inherit;
  cursor: pointer;
}

.m-node .caret-down::before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 6px solid rgb(180, 180, 180);
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 solid rgb(180, 180, 180);
  overflow: hidden;
  transition: 200ms ease;
}

.m-node .caret-right::before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid transparent;
  border-right: 0 solid rgb(180, 180, 180);
  border-left: 6px solid rgb(180, 180, 180);
  border-bottom: 4px solid transparent;
  overflow: hidden;
  transition: 200ms ease;
}

.m-node .text {
  padding-left: 16px;
}

.m-node div > .m-node .text {
  padding-left: 32px;
}

.m-node div > .m-node div > .m-node .text {
  padding-left: 48px;
}

.m-node div > .m-node div > .m-node div > .m-node .text {
  padding-left: 64px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node .text {
  padding-left: 80px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .text {
  padding-left: 96px;
}

.m-node .collapse {
  padding-left: 4px;
}

.m-node div > .m-node .collapse {
  padding-left: 20px;
}

.m-node div > .m-node div > .m-node .collapse {
  padding-left: 36px;
}

.m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 52px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 68px;
}

.m-node div > .m-node div > .m-node div > .m-node div > .m-node div > .m-node .collapse {
  padding-left: 84px;
}

.m-node .collapse {
  top: 50%;
  transform: translate(0%, -50%);
}

.main-toolbar {
  display: table;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 32px;
  background-color: #1e202ee6;
  border-top: 2px solid rgb(58, 58, 58);;
}

.submit-button-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.submit-button {
  height: 24px;
  width: 30px;
  background: rgb(60, 60, 60);
  border-radius: 2px;
  border: 1px solid rgba(200, 150, 55, 0.5);
}

.submit-button:hover {
  background: #282841;
}

.submit-button-icon {
  color: rgba(200, 150, 55);
  height: 12px;
  width: 12px;
  display: block;
  margin: 0 auto;
}

.gutter {
  background-color: rgb(58, 58, 58);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: ns-resize;
}

.split {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.split, .gutter.gutter-horizontal {
  float: left;
  height: 100%;
}