.new-view-menu {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 210px;
  background-color: #2b2b2be6;
  border-top: 2px solid rgb(58, 58, 58);
}

.view-id {
  flex: 0 0 24px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #3c3f41;
  border: 1px solid #846937;
}

.view-id__input {
  border: none;
}

.view-id__icon {
  color: #c8c8c8;
  height: 16px;
  width: 16px;
  padding: 0 4px;
  margin: 0 auto;
}

.view-id__icon.is-disabled {
  color: #808080;
}

.view-list {
  flex: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: hidden;
}

.view-list:hover {
  overflow-y: auto;
}

.view-item {
  width: 100%;
  padding: 12px 0 12px 8px;
  line-height: 14px;
  text-align: left;
  color: #c8c8c8;
  background-color: #2b2b2be6;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: rgb(58, 58, 58);
}

.view-item:hover {
  background-color: #0071b899;
}

.view-item__name {
  font-size: 12px;
  font-weight: bold;
}

.view-item__description {
  font-size: 10px;
}

.sliding-enter {
  height: 0;
}

.sliding-enter.sliding-enter-active {
  height: 210px;
  transition: height 100ms ease-in;
}

.sliding-exit {
  height: 210px;
}

.sliding-exit.sliding-exit-active {
  height: 0;
  transition: height 100ms ease-in;
}
