.tree-toolbar {
  display: flex;
  flex: 0 0 28px;
  width: 100%;
  background-color: #1e202ee6;
  border-top: 2px solid rgb(58, 58, 58);
}

.tree-toolbar-button {
  flex: 50%;
  width: 24px;
  background: #1e202ee6;
  border: none;
}

.tree-toolbar-button-icon {
  color: #c8c8c8;
  height: 12px;
  width: 12px;
  display: block;
  margin: 0 auto;
}