@import '../../../assets/styles/colors';

$online-color: #62c655;
$offline-color: gray;

.DeviceDetails {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  flex: 0 0 28px;
  width: 100%;
  background-color: $menu-color;
  border-bottom: 2px solid $frame-color;

  &__status {
    flex: 0 0 12px;
    height: 12px;
    margin-left: 4px;
    background-color: $offline-color;
    border-radius: 50%;

    &.online {
      background-color: $online-color;
    }
  }

  &__identifier {
    flex: 1 1;
    font-size: 12px;
    font-weight: bold;
    color: $text-color;
    margin-left: 8px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
