$light-background-color: #3c3f41;
$highlighted-light-background-color: #343434;
$selected-light-background-color: #0071b899;
$dark-background-color: #2b2b2b;

$input-border-color: #846937;

$bar-color: #2b2b2b;
$bar-height: 28px;

$content-color: #c8c8c8;
$highlighted-content-color: #fff;

$light-separator-color: #808080;
$dark-separator-color: #363636;

$alert-color: #e98675;
$ok-color: #7cb388;
$dirty-color: #c2aa83;
